---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesTwo from "@/components/entries/EntriesTwo.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <section
    class="md:px-12 sm:px-8 relative border-zinc-700 2xl:border-x hidden md:block"
  >
    <div class="border-x border-zinc-700 h-14"></div>
  </section>
  <section
    class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x"
  >
    <div class="border-x border-zinc-700">
      <div
        class="p-px lg:rounded-t-[3rem] overflow-hidden bg-gradientTopRight ring-1 ring-zinc-700"
      >
        <div
          class="bg-black/50 lg:bg-transparent backdrop-blur-3xl lg:backdrop-blur-none"
        >
          <div
            class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 text-center px-8 xl:px-24 items-center relative 0 w-full"
          >
          <h2
            class="text-5xl tracking-tighter font-normal md:text-6xl text-white mt-12"
          >
          Writings from
            <span >StudioMax.</span>
          </h2>
          <ol role="list" class="flex flex-wrap gap-1 mt-8 justify-center">
            {
              tags.map((tag) => (
                <li>
                  <a
                    class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset hover:text-cyan-400 duration-200 bg-black/50"
                    href={`/tags/${tag}`}
                  >
                    {tag}
                  </a>
                </li>
              ))
            }
          </ol>


          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x"
  >
    <div class="border-x border-zinc-700">
      <ul
        class="grid grid-cols-1 gap-px bg-zinc-700 lg:grid-cols-4 sm:grid-cols-2 "
      >
        {
          allPosts
            .slice(0,4)
            .map((post) => (
              <EntriesTwo
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={post.data.pubDate.toString().slice(0, 10)}
                author={post.data.author}
                image={post.data.image.url}
              />
            ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
