---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title",
    description: "{frontmatter.description}",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section
    class="md:px-12 sm:px-8 relative border-zinc-700 2xl:border-x hidden md:block"
  >
    <div class="border-x border-zinc-700 h-14"></div>
  </section>
  <section
    class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x"
  >
    <div class="border-x border-zinc-700">
      <div
        class="p-px lg:rounded-[3rem] overflow-hidden bg-gradientTopRight ring-1 ring-zinc-700"
      >
        <img
          class="h-52 w-full object-cover object-center"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
        />
        <div
          class="bg-black/50 lg:bg-transparent backdrop-blur-3xl lg:backdrop-blur-none"
        >
          <div
            class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-24 items-center relative 0 w-full"
          >
            <div>
              <span
                class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset"
              >
                {frontmatter.pubDate.toString().slice(0, 10)} by: {
                  frontmatter.author
                }
              </span>
              <h2
                class="text-5xl tracking-tighter font-normal uppercase md:text-6xl text-white mt-12"
              >
                {frontmatter.title}
              </h2>
              <p class="text-zinc-300 max-w-sm mt-4">
                {frontmatter.description}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="md:px-12 sm:px-8 relative border-b border-zinc-700 2xl:border-x"
  >
    <div class="border-x border-zinc-700 p-8 lg:px-20">
      <div class="prose-styles"><slot /></div>
    </div>
  </section>
</BaseLayout>
