---
import { work } from "../../data/work.json";
---

<section class="md:px-12 sm:px-8 relative border-zinc-700 2xl:border-x">
  <div class="border-x border-zinc-700 h-14"></div>
</section>
<section
  class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x"
  style=""
>
  <div class="border-x border-zinc-700">
    <div class="p-px lg:rounded-[3rem] overflow-hidden ring-1 ring-zinc-700">
      <div class="bg-black/50 lg:bg-transparent backdrop-blur-3xl">
        <div class="p-8 lg:p-20 bg-gradientTopRight">
          <h2
            class="text-5xl tracking-tighter font-normal md:text-6xl text-white"
          >
            Selected work
          </h2>
        </div>
        <div class="grid grid-cols-1 gap-px border-t border-zinc-700 md:grid-cols-2 lg:grid-cols-3 bg-zinc-700">
          {
            work.map((template) => (
              <>
                <div class="relative  h-full p-8 lg:p-10 bg-black">
                  <a
                    href={template.url}
                    class="h-full group flex flex-col justify-between"
                  >
                    <img
                      alt="#"
                      src={template.image}
                      decoding="async"
                      data-mining="future"
                      class="object-cover shrink-0 h-16 w-16 drop-shadow-3xl"
                      loading="lazy"
                    />

                    <blockquote class="relative space-y-3 mt-24">
                      <span class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset">

                        {template.date}
                      </span>
                      <p class="font-medium leading-6 text-white">
                        {template.title} /
                        <span class="text-zinc-300">{template.type}</span>
                      </p>
                      <p class="text-xs text-zinc-400 mt-2">
                        {template.description}
                      </p>
                    </blockquote>
                  </a>
                </div>
              </>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
